{
  "openapi": "3.0.4",
  "info": {
    "title": "Litium Admin Web API",
    "version": "8.24.1"
  },
  "servers": [
    {
      "url": "https://demoadmin.litium.com"
    }
  ],
  "paths": {
    "/Litium/api/admin/blocks/blocks": {
      "post": {
        "tags": [
          "Blocks block"
        ],
        "operationId": "Litium_Blocks_Blocks_Create",
        "x-mint": {
          "metadata": {
            "title": "Create Block"
          }
        },
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.Block"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.Block"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.Block"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.Block"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/Litium/api/admin/blocks/blocks/{systemId}": {
      "delete": {
        "tags": [
          "Blocks block"
        ],
        "operationId": "Litium_Blocks_Blocks_Delete",
        "x-mint": {
          "metadata": {
            "title": "Delete Block"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "get": {
        "tags": [
          "Blocks block"
        ],
        "operationId": "Litium_Blocks_Blocks_GetBySystemId",
        "x-mint": {
          "metadata": {
            "title": "Get Block"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.Block"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.Block"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.Block"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Blocks block"
        ],
        "operationId": "Litium_Blocks_Blocks_UpdateBySystemId",
        "x-mint": {
          "metadata": {
            "title": "Update Block"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.Block"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.Block"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.Block"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.Block"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.Block"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.Block"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.Block"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Blocks block"
        ],
        "operationId": "Litium_Blocks_Blocks_PatchBySystemId",
        "x-mint": {
          "metadata": {
            "title": "Patch Block"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.Block"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.Block"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.Block"
                }
              }
            }
          }
        }
      }
    },
    "/Litium/api/admin/blocks/blocks/{systemId}/cache": {
      "delete": {
        "tags": [
          "Blocks block"
        ],
        "operationId": "Litium_Blocks_Blocks_PurgeCacheForSystemId",
        "x-mint": {
          "metadata": {
            "title": "Purge Block Cache"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/Litium/api/admin/blocks/blocks/{systemId}/timeUnpublish": {
      "put": {
        "tags": [
          "Blocks block"
        ],
        "operationId": "Blocks_Block_TimeUnpublish",
        "x-mint": {
          "metadata": {
            "title": "Schedule Block Unpublish"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Web.WebApi.AdminApi.Blocks.BlockContentPublish"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Web.WebApi.AdminApi.Blocks.BlockContentPublish"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Web.WebApi.AdminApi.Blocks.BlockContentPublish"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Web.WebApi.AdminApi.Blocks.BlockContentPublish"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/Litium/api/admin/blocks/blocks/{systemId}/unpublish": {
      "put": {
        "tags": [
          "Blocks block"
        ],
        "operationId": "Blocks_Block_Unpublish",
        "x-mint": {
          "metadata": {
            "title": "Unpublish Block"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/Litium/api/admin/blocks/blocks/keyLookups": {
      "post": {
        "tags": [
          "Blocks block"
        ],
        "operationId": "Litium_Blocks_Blocks_LookupSystemId",
        "x-mint": {
          "metadata": {
            "title": "Lookup Block System ID"
          }
        },
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "nullable": true
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "nullable": true
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "nullable": true
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Litium/api/admin/blocks/blocks/search": {
      "post": {
        "tags": [
          "Blocks block"
        ],
        "operationId": "Litium_Blocks_Blocks_Search",
        "x-mint": {
          "metadata": {
            "title": "Search Blocks"
          }
        },
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Web.WebApi.AdminApi.Search.SearchModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Web.WebApi.AdminApi.Search.SearchModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Web.WebApi.AdminApi.Search.SearchModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Web.WebApi.AdminApi.Search.SearchModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Web.WebApi.AdminApi.Search.SearchResult__Litium.Blocks.Block"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Web.WebApi.AdminApi.Search.SearchResult__Litium.Blocks.Block"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Web.WebApi.AdminApi.Search.SearchResult__Litium.Blocks.Block"
                }
              }
            }
          }
        }
      }
    },
    "/Litium/api/admin/blocks/categories": {
      "post": {
        "tags": [
          "Blocks category"
        ],
        "operationId": "Litium_Blocks_Categories_Create",
        "x-mint": {
          "metadata": {
            "title": "Create Block Category"
          }
        },
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.Category"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.Category"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.Category"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.Category"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      },
      "get": {
        "tags": [
          "Blocks category"
        ],
        "operationId": "Litium_Blocks_Categories_GetAll",
        "x-mint": {
          "metadata": {
            "title": "List Block Categories"
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Litium.Blocks.Category"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Litium.Blocks.Category"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Litium.Blocks.Category"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Litium/api/admin/blocks/categories/{systemId}": {
      "delete": {
        "tags": [
          "Blocks category"
        ],
        "operationId": "Litium_Blocks_Categories_Delete",
        "x-mint": {
          "metadata": {
            "title": "Delete Block Category"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "get": {
        "tags": [
          "Blocks category"
        ],
        "operationId": "Litium_Blocks_Categories_GetBySystemId",
        "x-mint": {
          "metadata": {
            "title": "Get Block Category"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.Category"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.Category"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.Category"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Blocks category"
        ],
        "operationId": "Litium_Blocks_Categories_UpdateBySystemId",
        "x-mint": {
          "metadata": {
            "title": "Update Block Category"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.Category"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.Category"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.Category"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.Category"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.Category"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.Category"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.Category"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Blocks category"
        ],
        "operationId": "Litium_Blocks_Categories_PatchBySystemId",
        "x-mint": {
          "metadata": {
            "title": "Patch Block Category"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.Category"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.Category"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.Category"
                }
              }
            }
          }
        }
      }
    },
    "/Litium/api/admin/blocks/categories/{systemId}/cache": {
      "delete": {
        "tags": [
          "Blocks category"
        ],
        "operationId": "Litium_Blocks_Categories_PurgeCacheForSystemId",
        "x-mint": {
          "metadata": {
            "title": "Purge Block Category Cache"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/Litium/api/admin/blocks/categories/keyLookups": {
      "post": {
        "tags": [
          "Blocks category"
        ],
        "operationId": "Litium_Blocks_Categories_LookupSystemId",
        "x-mint": {
          "metadata": {
            "title": "Lookup Block Category System ID"
          }
        },
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "nullable": true
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "nullable": true
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "nullable": true
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Litium/api/admin/blocks/draftBlocks": {
      "post": {
        "tags": [
          "Blocks draft block"
        ],
        "operationId": "Litium_Blocks_DraftBlocks_Create",
        "x-mint": {
          "metadata": {
            "title": "Create Draft Block"
          }
        },
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.DraftBlock"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.DraftBlock"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.DraftBlock"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.DraftBlock"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/Litium/api/admin/blocks/draftBlocks/{systemId}": {
      "delete": {
        "tags": [
          "Blocks draft block"
        ],
        "operationId": "Litium_Blocks_DraftBlocks_Delete",
        "x-mint": {
          "metadata": {
            "title": "Delete Draft Block"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "get": {
        "tags": [
          "Blocks draft block"
        ],
        "operationId": "Litium_Blocks_DraftBlocks_GetBySystemId",
        "x-mint": {
          "metadata": {
            "title": "Get Draft Block"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.DraftBlock"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.DraftBlock"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.DraftBlock"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Blocks draft block"
        ],
        "operationId": "Litium_Blocks_DraftBlocks_UpdateBySystemId",
        "x-mint": {
          "metadata": {
            "title": "Update Draft Block"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.DraftBlock"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.DraftBlock"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.DraftBlock"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.DraftBlock"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.DraftBlock"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.DraftBlock"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.DraftBlock"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Blocks draft block"
        ],
        "operationId": "Litium_Blocks_DraftBlocks_PatchBySystemId",
        "x-mint": {
          "metadata": {
            "title": "Patch Draft Block"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.DraftBlock"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.DraftBlock"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.DraftBlock"
                }
              }
            }
          }
        }
      }
    },
    "/Litium/api/admin/blocks/draftBlocks/{systemId}/publish": {
      "put": {
        "tags": [
          "Blocks draft block"
        ],
        "operationId": "Blocks_DraftBlock_Publish",
        "x-mint": {
          "metadata": {
            "title": "Publish Draft Block"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/Litium/api/admin/blocks/draftBlocks/{systemId}/timePublish": {
      "put": {
        "tags": [
          "Blocks draft block"
        ],
        "operationId": "Blocks_DraftBlock_TimePublish",
        "x-mint": {
          "metadata": {
            "title": "Schedule Draft Block Publish"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Web.WebApi.AdminApi.Blocks.BlockContentPublish"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Web.WebApi.AdminApi.Blocks.BlockContentPublish"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Web.WebApi.AdminApi.Blocks.BlockContentPublish"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Web.WebApi.AdminApi.Blocks.BlockContentPublish"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/Litium/api/admin/blocks/fieldDefinitions": {
      "post": {
        "tags": [
          "Blocks field definition"
        ],
        "operationId": "Blocks_FieldDefinition_Create",
        "x-mint": {
          "metadata": {
            "title": "Create Block Field Definition"
          }
        },
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Blocks.BlockArea"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Blocks.BlockArea"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Blocks.BlockArea"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Blocks.BlockArea"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Blocks.BlockArea"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Blocks.BlockArea"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Blocks.BlockArea"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          }
        }
      },
      "get": {
        "tags": [
          "Blocks field definition"
        ],
        "operationId": "Blocks_FieldDefinition_GetAll",
        "x-mint": {
          "metadata": {
            "title": "List Block Field Definitions"
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Blocks.BlockArea"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Blocks.BlockArea"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Blocks.BlockArea"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Litium/api/admin/blocks/fieldDefinitions/{systemId}": {
      "delete": {
        "tags": [
          "Blocks field definition"
        ],
        "operationId": "Blocks_FieldDefinition_Delete",
        "x-mint": {
          "metadata": {
            "title": "Delete Block Field Definition"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "get": {
        "tags": [
          "Blocks field definition"
        ],
        "operationId": "Blocks_FieldDefinition_Get",
        "x-mint": {
          "metadata": {
            "title": "Get Block Field Definition"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Blocks.BlockArea"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Blocks.BlockArea"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Blocks.BlockArea"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Blocks field definition"
        ],
        "operationId": "Blocks_FieldDefinition_PatchBySystemId",
        "x-mint": {
          "metadata": {
            "title": "Patch Block Field Definition"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Blocks.BlockArea"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Blocks.BlockArea"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Blocks.BlockArea"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Blocks field definition"
        ],
        "operationId": "Blocks_FieldDefinition_Update",
        "x-mint": {
          "metadata": {
            "title": "Update Block Field Definition"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Blocks.BlockArea"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Blocks.BlockArea"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Blocks.BlockArea"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Blocks.BlockArea"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Blocks.BlockArea"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Blocks.BlockArea"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Blocks.BlockArea"
                }
              }
            }
          }
        }
      }
    },
    "/Litium/api/admin/blocks/fieldDefinitions/{systemId}/cache": {
      "delete": {
        "tags": [
          "Blocks field definition"
        ],
        "operationId": "Blocks_FieldDefinition_PurgeCacheForSystemId",
        "x-mint": {
          "metadata": {
            "title": "Purge Block Field Definition Cache"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/Litium/api/admin/blocks/fieldDefinitions/keyLookups": {
      "post": {
        "tags": [
          "Blocks field definition"
        ],
        "operationId": "Blocks_FieldDefinition_LookupSystemId",
        "x-mint": {
          "metadata": {
            "title": "Lookup Block Field Definition System ID"
          }
        },
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "nullable": true
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "nullable": true
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "nullable": true
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Litium/api/admin/blocks/fieldTemplates": {
      "post": {
        "tags": [
          "Blocks field template"
        ],
        "operationId": "Blocks_FieldTemplate_Create",
        "x-mint": {
          "metadata": {
            "title": "Create Block Field Template"
          }
        },
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.BlockFieldTemplate"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.BlockFieldTemplate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.BlockFieldTemplate"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.BlockFieldTemplate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.BlockFieldTemplate"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.BlockFieldTemplate"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.BlockFieldTemplate"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          }
        }
      },
      "get": {
        "tags": [
          "Blocks field template"
        ],
        "operationId": "Blocks_FieldTemplate_GetAll",
        "x-mint": {
          "metadata": {
            "title": "List Block Field Templates"
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Litium.Blocks.BlockFieldTemplate"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Litium.Blocks.BlockFieldTemplate"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Litium.Blocks.BlockFieldTemplate"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Litium/api/admin/blocks/fieldTemplates/{systemId}": {
      "delete": {
        "tags": [
          "Blocks field template"
        ],
        "operationId": "Blocks_FieldTemplate_Delete",
        "x-mint": {
          "metadata": {
            "title": "Delete Block Field Template"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "get": {
        "tags": [
          "Blocks field template"
        ],
        "operationId": "Blocks_FieldTemplate_Get",
        "x-mint": {
          "metadata": {
            "title": "Get Block Field Template"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.BlockFieldTemplate"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.BlockFieldTemplate"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.BlockFieldTemplate"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Blocks field template"
        ],
        "operationId": "Blocks_FieldTemplate_PatchBySystemId",
        "x-mint": {
          "metadata": {
            "title": "Patch Block Field Template"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.BlockFieldTemplate"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.BlockFieldTemplate"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.BlockFieldTemplate"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Blocks field template"
        ],
        "operationId": "Blocks_FieldTemplate_Update",
        "x-mint": {
          "metadata": {
            "title": "Update Block Field Template"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.BlockFieldTemplate"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.BlockFieldTemplate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.BlockFieldTemplate"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Blocks.BlockFieldTemplate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.BlockFieldTemplate"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.BlockFieldTemplate"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Blocks.BlockFieldTemplate"
                }
              }
            }
          }
        }
      }
    },
    "/Litium/api/admin/blocks/fieldTemplates/{systemId}/cache": {
      "delete": {
        "tags": [
          "Blocks field template"
        ],
        "operationId": "Blocks_FieldTemplate_PurgeCacheForSystemId",
        "x-mint": {
          "metadata": {
            "title": "Purge Block Field Template Cache"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/Litium/api/admin/blocks/fieldTemplates/keyLookups": {
      "post": {
        "tags": [
          "Blocks field template"
        ],
        "operationId": "Blocks_FieldTemplate_LookupSystemId",
        "x-mint": {
          "metadata": {
            "title": "Lookup Block Field Template System ID"
          }
        },
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "nullable": true
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "nullable": true
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "nullable": true
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Litium/api/admin/customers/addressTypes": {
      "post": {
        "tags": [
          "Customers address type"
        ],
        "operationId": "Litium_Customers_AddressTypes_Create",
        "x-mint": {
          "metadata": {
            "title": "Create Customer Address Type"
          }
        },
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Customers.AddressType"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Customers.AddressType"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Customers.AddressType"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Customers.AddressType"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      },
      "get": {
        "tags": [
          "Customers address type"
        ],
        "operationId": "Litium_Customers_AddressTypes_GetAll",
        "x-mint": {
          "metadata": {
            "title": "List Customer Address Types"
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Litium.Customers.AddressType"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Litium.Customers.AddressType"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Litium.Customers.AddressType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Litium/api/admin/customers/addressTypes/{systemId}": {
      "delete": {
        "tags": [
          "Customers address type"
        ],
        "operationId": "Litium_Customers_AddressTypes_Delete",
        "x-mint": {
          "metadata": {
            "title": "Delete Customer Address Type"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "get": {
        "tags": [
          "Customers address type"
        ],
        "operationId": "Litium_Customers_AddressTypes_GetBySystemId",
        "x-mint": {
          "metadata": {
            "title": "Get Customer Address Type"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Customers.AddressType"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Customers.AddressType"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Customers.AddressType"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Customers address type"
        ],
        "operationId": "Litium_Customers_AddressTypes_UpdateBySystemId",
        "x-mint": {
          "metadata": {
            "title": "Update Customer Address Type"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Customers.AddressType"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Customers.AddressType"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Customers.AddressType"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Customers.AddressType"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Customers.AddressType"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Customers.AddressType"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Customers.AddressType"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Customers address type"
        ],
        "operationId": "Litium_Customers_AddressTypes_PatchBySystemId",
        "x-mint": {
          "metadata": {
            "title": "Patch Customer Address Type"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Customers.AddressType"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Customers.AddressType"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Customers.AddressType"
                }
              }
            }
          }
        }
      }
    },
    "/Litium/api/admin/customers/addressTypes/{systemId}/cache": {
      "delete": {
        "tags": [
          "Customers address type"
        ],
        "operationId": "Litium_Customers_AddressTypes_PurgeCacheForSystemId",
        "x-mint": {
          "metadata": {
            "title": "Purge Customer Address Type Cache"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/Litium/api/admin/customers/addressTypes/keyLookups": {
      "post": {
        "tags": [
          "Customers address type"
        ],
        "operationId": "Litium_Customers_AddressTypes_LookupSystemId",
        "x-mint": {
          "metadata": {
            "title": "Lookup Customer Address Type System ID"
          }
        },
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "nullable": true
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "nullable": true
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "nullable": true
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Litium/api/admin/customers/fieldDefinitions": {
      "post": {
        "tags": [
          "Customers field definition"
        ],
        "operationId": "Customers_FieldDefinition_Create",
        "x-mint": {
          "metadata": {
            "title": "Create Customer Field Definition"
          }
        },
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Customers.CustomerArea"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Customers.CustomerArea"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Customers.CustomerArea"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Customers.CustomerArea"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Customers.CustomerArea"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Customers.CustomerArea"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Customers.CustomerArea"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          }
        }
      },
      "get": {
        "tags": [
          "Customers field definition"
        ],
        "operationId": "Customers_FieldDefinition_GetAll",
        "x-mint": {
          "metadata": {
            "title": "List Customer Field Definitions"
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Customers.CustomerArea"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Customers.CustomerArea"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Customers.CustomerArea"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Litium/api/admin/customers/fieldDefinitions/{systemId}": {
      "delete": {
        "tags": [
          "Customers field definition"
        ],
        "operationId": "Customers_FieldDefinition_Delete",
        "x-mint": {
          "metadata": {
            "title": "Delete Customer Field Definition"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "get": {
        "tags": [
          "Customers field definition"
        ],
        "operationId": "Customers_FieldDefinition_Get",
        "x-mint": {
          "metadata": {
            "title": "Get Customer Field Definition"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Customers.CustomerArea"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Customers.CustomerArea"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Customers.CustomerArea"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Customers field definition"
        ],
        "operationId": "Customers_FieldDefinition_PatchBySystemId",
        "x-mint": {
          "metadata": {
            "title": "Patch Customer Field Definition"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Customers.CustomerArea"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Customers.CustomerArea"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Customers.CustomerArea"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Customers field definition"
        ],
        "operationId": "Customers_FieldDefinition_Update",
        "x-mint": {
          "metadata": {
            "title": "Update Customer Field Definition"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Customers.CustomerArea"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Customers.CustomerArea"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Customers.CustomerArea"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Customers.CustomerArea"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Customers.CustomerArea"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Customers.CustomerArea"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.FieldFramework.FieldDefinition__Litium.Customers.CustomerArea"
                }
              }
            }
          }
        }
      }
    },
    "/Litium/api/admin/customers/fieldDefinitions/{systemId}/cache": {
      "delete": {
        "tags": [
          "Customers field definition"
        ],
        "operationId": "Customers_FieldDefinition_PurgeCacheForSystemId",
        "x-mint": {
          "metadata": {
            "title": "Purge Customer Field Definition Cache"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/Litium/api/admin/customers/fieldDefinitions/keyLookups": {
      "post": {
        "tags": [
          "Customers field definition"
        ],
        "operationId": "Customers_FieldDefinition_LookupSystemId",
        "x-mint": {
          "metadata": {
            "title": "Lookup Customer Field Definition System ID"
          }
        },
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "nullable": true
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "nullable": true
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "nullable": true
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Litium/api/admin/customers/fieldTemplates": {
      "post": {
        "tags": [
          "Customers field template"
        ],
        "operationId": "Customers_FieldTemplate_Create",
        "x-mint": {
          "metadata": {
            "title": "Create Customer Field Template"
          }
        },
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Customers.FieldTemplateBase"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Customers.FieldTemplateBase"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Customers.FieldTemplateBase"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Customers.FieldTemplateBase"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Customers.FieldTemplateBase"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Customers.FieldTemplateBase"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Customers.FieldTemplateBase"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          }
        }
      },
      "get": {
        "tags": [
          "Customers field template"
        ],
        "operationId": "Customers_FieldTemplate_GetAll",
        "x-mint": {
          "metadata": {
            "title": "List Customer Field Templates"
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Litium.Customers.FieldTemplateBase"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Litium.Customers.FieldTemplateBase"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Litium.Customers.FieldTemplateBase"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Litium/api/admin/customers/fieldTemplates/{systemId}": {
      "delete": {
        "tags": [
          "Customers field template"
        ],
        "operationId": "Customers_FieldTemplate_Delete",
        "x-mint": {
          "metadata": {
            "title": "Delete Customer Field Template"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "get": {
        "tags": [
          "Customers field template"
        ],
        "operationId": "Customers_FieldTemplate_Get",
        "x-mint": {
          "metadata": {
            "title": "Get Customer Field Template"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Customers.FieldTemplateBase"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Customers.FieldTemplateBase"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Customers.FieldTemplateBase"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Customers field template"
        ],
        "operationId": "Customers_FieldTemplate_PatchBySystemId",
        "x-mint": {
          "metadata": {
            "title": "Patch Customer Field Template"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.AspNetCore.JsonPatch.JsonPatchDocument"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Customers.FieldTemplateBase"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Customers.FieldTemplateBase"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Customers.FieldTemplateBase"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Customers field template"
        ],
        "operationId": "Customers_FieldTemplate_Update",
        "x-mint": {
          "metadata": {
            "title": "Update Customer Field Template"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Customers.FieldTemplateBase"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Customers.FieldTemplateBase"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Customers.FieldTemplateBase"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Customers.FieldTemplateBase"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Customers.FieldTemplateBase"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Customers.FieldTemplateBase"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Customers.FieldTemplateBase"
                }
              }
            }
          }
        }
      }
    },
    "/Litium/api/admin/customers/fieldTemplates/{systemId}/cache": {
      "delete": {
        "tags": [
          "Customers field template"
        ],
        "operationId": "Customers_FieldTemplate_PurgeCacheForSystemId",
        "x-mint": {
          "metadata": {
            "title": "Purge Customer Field Template Cache"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/Litium/api/admin/customers/fieldTemplates/keyLookups": {
      "post": {
        "tags": [
          "Customers field template"
        ],
        "operationId": "Customers_FieldTemplate_LookupSystemId",
        "x-mint": {
          "metadata": {
            "title": "Lookup Customer Field Template System ID"
          }
        },
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "nullable": true
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "nullable": true
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "nullable": true
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Litium/api/admin/customers/groups": {
      "post": {
        "tags": [
          "Customers group"
        ],
        "operationId": "Litium_Customers_Groups_Create",
        "x-mint": {
          "metadata": {
            "title": "Create Customer Group"
          }
        },
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Customers.Group"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Customers.Group"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Customers.Group"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Customers.Group"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/Litium/api/admin/customers/groups/{systemId}": {
      "delete": {
        "tags": [
          "Customers group"
        ],
        "operationId": "Litium_Customers_Groups_Delete",
        "x-mint": {
          "metadata": {
            "title": "Delete Customer Group"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "get": {
        "tags": [
          "Customers group"
        ],
        "operationId": "Litium_Customers_Groups_GetBySystemId",
        "x-mint": {
          "metadata": {
            "title": "Get Customer Group"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Customers.Group"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Customers.Group"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Customers.Group"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Customers group"
        ],
        "operationId": "Litium_Customers_Groups_UpdateBySystemId",
        "x-mint": {
          "metadata": {
            "title": "Update Customer Group"
          }
        },
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Customers.Group"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Customers.Group"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Customers.Group"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Customers.Group"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Customers.Group"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Customers.Group"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Customers.Group"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Customers group"
        ],
        "operationId": "Litium_Customers_Groups_PatchBySystemId",
        "x-mint": {
          "metadata": {
            "title": "Patch Customer Group"
          }
        },
[...]
