{
  "openapi": "3.0.4",
  "info": {
    "title": "Litium Connect Payments",
    "version": "1.3"
  },
  "servers": [
    {
      "url": "https://demoadmin.litium.com"
    }
  ],
  "paths": {
    "/Litium/api/connect/payments/provider": {
      "get": {
        "tags": [
          "Payment provider"
        ],
        "operationId": "GetProvider",
        "x-mint": {
          "metadata": {
            "title": "Get Payment Provider"
          }
        },
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          }
        ],
        "responses": {
          "400": {
            "description": "BadRequest",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Connect.Payments.PaymentProvider"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Connect.Payments.PaymentProvider"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Connect.Payments.PaymentProvider"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Payment provider"
        ],
        "operationId": "CreateOrUpdateProvider",
        "x-mint": {
          "metadata": {
            "title": "Create or Update Payment Provider"
          }
        },
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.PaymentProvider"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.PaymentProvider"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.PaymentProvider"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.PaymentProvider"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "BadRequest",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Connect.Payments.PaymentProvider"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Connect.Payments.PaymentProvider"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Connect.Payments.PaymentProvider"
                }
              }
            }
          }
        },
        "callbacks": {
          "InitializeOrUpdateSession": {
            "{$request.body#baseUrl}/api/payments/{paymentId}/initialize": {
              "post": {
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/Litium.Connect.Payments.Payment"
                      }
                    }
                  },
                  "required": true
                },
                "responses": {
                  "200": {
                    "description": "",
                    "content": {
                      "application/json": {
                        "schema": {
                          "$ref": "#/components/schemas/Litium.Connect.Payments.PaymentFlowResult"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "ExecuteSession": {
            "{$request.body#baseUrl}/api/payments/{paymentId}/execute": {
              "post": {
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/Litium.Connect.Payments.Payment"
                      }
                    }
                  },
                  "required": true
                },
                "responses": {
                  "200": {
                    "description": "",
                    "content": {
                      "application/json": {
                        "schema": {
                          "$ref": "#/components/schemas/Litium.Connect.Payments.PaymentFlowResult"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "RemovePaymentToken": {
            "{$request.body#baseUrl}/api/payments/{paymentId}/removePaymentToken": {
              "post": {
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/Litium.Connect.Payments.RemovePaymentTokenRequest"
                      }
                    }
                  },
                  "required": true
                },
                "responses": {
                  "200": {
                    "description": "",
                    "content": {
                      "application/json": {
                        "schema": {
                          "$ref": "#/components/schemas/Litium.Connect.Payments.RemovePaymentTokenResult"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Payment provider"
        ],
        "operationId": "DeleteProvider",
        "x-mint": {
          "metadata": {
            "title": "Delete Payment Provider"
          }
        },
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          }
        ],
        "responses": {
          "400": {
            "description": "BadRequest",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/Litium/api/connect/payments/{paymentSystemId}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "operationId": "GetPaymentOverview",
        "x-mint": {
          "metadata": {
            "title": "Get Payment Overview"
          }
        },
        "parameters": [
          {
            "name": "paymentSystemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          }
        ],
        "responses": {
          "400": {
            "description": "BadRequest",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Connect.Payments.PaymentOverview"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Connect.Payments.PaymentOverview"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Connect.Payments.PaymentOverview"
                }
              }
            }
          }
        }
      }
    },
    "/Litium/api/connect/payments/{paymentSystemId}/action/assignOrderId": {
      "post": {
        "tags": [
          "Payments"
        ],
        "operationId": "AssignOrderId",
        "x-mint": {
          "metadata": {
            "title": "Assign Order ID"
          }
        },
        "parameters": [
          {
            "name": "paymentSystemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.GetOrderIdRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.GetOrderIdRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.GetOrderIdRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.GetOrderIdRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "BadRequest",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Connect.Payments.GetOrderIdResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Connect.Payments.GetOrderIdResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Connect.Payments.GetOrderIdResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Litium/api/connect/payments/{paymentSystemId}/action/confirmed": {
      "post": {
        "tags": [
          "Payments"
        ],
        "operationId": "ConfirmPayment",
        "x-mint": {
          "metadata": {
            "title": "Confirm Payment"
          }
        },
        "parameters": [
          {
            "name": "paymentSystemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.PaymentFlowResult"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.PaymentFlowResult"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.PaymentFlowResult"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.PaymentFlowResult"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "BadRequest",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Connect.Payments.Transaction"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Connect.Payments.Transaction"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Connect.Payments.Transaction"
                }
              }
            }
          }
        }
      }
    },
    "/Litium/api/connect/payments/{paymentSystemId}/paymentMethod": {
      "put": {
        "tags": [
          "Payments"
        ],
        "operationId": "UpdatePaymentMethod",
        "x-mint": {
          "metadata": {
            "title": "Update Payment Method"
          }
        },
        "parameters": [
          {
            "name": "paymentSystemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.PaymentMethod"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.PaymentMethod"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.PaymentMethod"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.PaymentMethod"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "BadRequest",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/Litium/api/connect/payments/{paymentSystemId}/supportedActions": {
      "put": {
        "tags": [
          "Payments"
        ],
        "operationId": "UpdateSupportedActions",
        "x-mint": {
          "metadata": {
            "title": "Update Supported Actions"
          }
        },
        "parameters": [
          {
            "name": "paymentSystemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.PaymentOperations"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.PaymentOperations"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.PaymentOperations"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.PaymentOperations"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "BadRequest",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/Litium/api/connect/payments/{paymentSystemId}/transactions/authorization": {
      "put": {
        "tags": [
          "Payments"
        ],
        "operationId": "UpdateAuthorizationTransaction",
        "x-mint": {
          "metadata": {
            "title": "Update Authorization Transaction"
          }
        },
        "parameters": [
          {
            "name": "paymentSystemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.AuthorizationResponse"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.AuthorizationResponse"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.AuthorizationResponse"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.AuthorizationResponse"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "BadRequest",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/Litium/api/connect/payments/{paymentSystemId}/transactions/cancel": {
      "put": {
        "tags": [
          "Payments"
        ],
        "operationId": "UpdateCancelTransaction",
        "x-mint": {
          "metadata": {
            "title": "Update Cancel Transaction"
          }
        },
        "parameters": [
          {
            "name": "paymentSystemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.CancelResponse"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.CancelResponse"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.CancelResponse"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.CancelResponse"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "BadRequest",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/Litium/api/connect/payments/{paymentSystemId}/transactions/capture": {
      "put": {
        "tags": [
          "Payments"
        ],
        "operationId": "UpdateCaptureTransaction",
        "x-mint": {
          "metadata": {
            "title": "Update Capture Transaction"
          }
        },
        "parameters": [
          {
            "name": "paymentSystemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.CaptureResponse"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.CaptureResponse"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.CaptureResponse"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.CaptureResponse"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "BadRequest",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/Litium/api/connect/payments/{paymentSystemId}/transactions/refund": {
      "put": {
        "tags": [
          "Payments"
        ],
        "operationId": "UpdateRefundTransaction",
        "x-mint": {
          "metadata": {
            "title": "Update Refund Transaction"
          }
        },
        "parameters": [
          {
            "name": "paymentSystemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.RefundResponse"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.RefundResponse"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.RefundResponse"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.RefundResponse"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "BadRequest",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/Litium/api/connect/payments/{paymentSystemId}/userInteractions/address": {
      "put": {
        "tags": [
          "Payments"
        ],
        "operationId": "UpdateAddress",
        "x-mint": {
          "metadata": {
            "title": "Update Address"
          }
        },
        "parameters": [
          {
            "name": "paymentSystemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.AddressUpdateRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.AddressUpdateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.AddressUpdateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.AddressUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "BadRequest",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Connect.Payments.AddressUpdateErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Connect.Payments.AddressUpdateErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Connect.Payments.AddressUpdateErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Connect.Payments.AddressUpdateResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Connect.Payments.AddressUpdateResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Connect.Payments.AddressUpdateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Litium/api/connect/payments/{paymentSystemId}/userInteractions/canConfirm": {
      "put": {
        "tags": [
          "Payments"
        ],
        "operationId": "CanConfirmOrder",
        "x-mint": {
          "metadata": {
            "title": "Check if Order Can Be Confirmed"
          }
        },
        "parameters": [
          {
            "name": "paymentSystemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.CanConfirmOrderRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.CanConfirmOrderRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.CanConfirmOrderRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Connect.Payments.CanConfirmOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "BadRequest",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Connect.Payments.CanConfirmOrderErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Connect.Payments.CanConfirmOrderErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Connect.Payments.CanConfirmOrderErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Connect.Payments.CanConfirmOrderResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Connect.Payments.CanConfirmOrderResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Connect.Payments.CanConfirmOrderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Litium/api/connect/payments/webhooks/filters": {
      "get": {
        "tags": [
          "Web hooks"
        ],
        "operationId": "GetWebhookEvents",
        "x-mint": {
          "metadata": {
            "title": "List Webhook Events"
          }
        },
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          }
        ],
        "responses": {
          "400": {
            "description": "BadRequest",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Litium.Web.WebHooks.ViewModels.WebHookFilter"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Litium.Web.WebHooks.ViewModels.WebHookFilter"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Litium.Web.WebHooks.ViewModels.WebHookFilter"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Litium/api/connect/payments/webhooks/registrations": {
      "get": {
        "tags": [
          "Web hooks"
        ],
        "operationId": "GetWebhooks",
        "x-mint": {
          "metadata": {
            "title": "List Webhooks"
          }
        },
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          }
        ],
        "responses": {
          "400": {
            "description": "BadRequest",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Litium.Application.Events.WebHooks.RequestData"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Litium.Application.Events.WebHooks.RequestData"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Litium.Application.Events.WebHooks.RequestData"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Web hooks"
        ],
        "operationId": "CreateWebhook",
        "x-mint": {
          "metadata": {
            "title": "Create Webhook"
          }
        },
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Application.Events.WebHooks.RequestData"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Application.Events.WebHooks.RequestData"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Application.Events.WebHooks.RequestData"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Application.Events.WebHooks.RequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "BadRequest",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Application.Events.WebHooks.RequestData"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Application.Events.WebHooks.RequestData"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Application.Events.WebHooks.RequestData"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        },
        "callbacks": {
          "Litium.Connect.Payments.Events.CancelTransaction": {
            "$request.body#/webHookUri": {
              "post": {
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/Litium.Connect.Payments.Events.CancelTransactionNotification"
                      }
                    }
                  },
                  "required": true
                },
                "responses": {
                  "200": {
                    "description": "OK"
                  },
                  "204": {
                    "description": "No Content"
                  },
                  "410": {
                    "description": "Gone"
                  }
                }
              }
            }
          },
          "Litium.Connect.Payments.Events.CaptureTransaction": {
            "$request.body#/webHookUri": {
              "post": {
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/Litium.Connect.Payments.Events.CaptureTransactionNotification"
                      }
                    }
                  },
                  "required": true
                },
                "responses": {
                  "200": {
                    "description": "OK"
                  },
                  "204": {
                    "description": "No Content"
                  },
                  "410": {
                    "description": "Gone"
                  }
                }
              }
            }
          },
          "Litium.Connect.Payments.Events.ExecuteTransactions": {
            "$request.body#/webHookUri": {
              "post": {
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/Litium.Connect.Payments.Events.ExecuteTransactionsNotification"
                      }
                    }
                  },
                  "required": true
                },
                "responses": {
                  "200": {
                    "description": "OK"
                  },
                  "204": {
                    "description": "No Content"
                  },
                  "410": {
                    "description": "Gone"
                  }
                }
              }
            }
          },
          "Litium.Connect.Payments.Events.RefundTransaction": {
            "$request.body#/webHookUri": {
              "post": {
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/Litium.Connect.Payments.Events.RefundTransactionNotification"
                      }
                    }
                  },
                  "required": true
                },
                "responses": {
                  "200": {
                    "description": "OK"
                  },
                  "204": {
                    "description": "No Content"
                  },
                  "410": {
                    "description": "Gone"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Web hooks"
        ],
        "operationId": "DeleteWebhooks",
        "x-mint": {
          "metadata": {
            "title": "Delete Webhooks"
          }
        },
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          }
        ],
        "responses": {
          "400": {
            "description": "BadRequest",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/Litium/api/connect/payments/webhooks/registrations/{id}": {
      "get": {
        "tags": [
          "Web hooks"
        ],
        "operationId": "GetWebhook",
        "x-mint": {
          "metadata": {
            "title": "Get Webhook"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          }
        ],
        "responses": {
          "400": {
            "description": "BadRequest",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Application.Events.WebHooks.RequestData"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Application.Events.WebHooks.RequestData"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Litium.Application.Events.WebHooks.RequestData"
                }
              }
            }
          }
        },
        "callbacks": {
          "Litium.Connect.Payments.Events.CancelTransaction": {
            "$request.body#/webHookUri": {
              "post": {
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/Litium.Connect.Payments.Events.CancelTransactionNotification"
                      }
                    }
                  },
                  "required": true
                },
                "responses": {
                  "200": {
                    "description": "OK"
                  },
                  "204": {
                    "description": "No Content"
                  },
                  "410": {
                    "description": "Gone"
                  }
                }
              }
            }
          },
          "Litium.Connect.Payments.Events.CaptureTransaction": {
            "$request.body#/webHookUri": {
              "post": {
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/Litium.Connect.Payments.Events.CaptureTransactionNotification"
                      }
                    }
                  },
                  "required": true
                },
                "responses": {
                  "200": {
                    "description": "OK"
                  },
                  "204": {
                    "description": "No Content"
                  },
                  "410": {
                    "description": "Gone"
                  }
                }
              }
            }
          },
          "Litium.Connect.Payments.Events.ExecuteTransactions": {
            "$request.body#/webHookUri": {
              "post": {
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/Litium.Connect.Payments.Events.ExecuteTransactionsNotification"
                      }
                    }
                  },
                  "required": true
                },
                "responses": {
                  "200": {
                    "description": "OK"
                  },
                  "204": {
                    "description": "No Content"
                  },
                  "410": {
                    "description": "Gone"
                  }
                }
              }
            }
          },
          "Litium.Connect.Payments.Events.RefundTransaction": {
            "$request.body#/webHookUri": {
              "post": {
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/Litium.Connect.Payments.Events.RefundTransactionNotification"
                      }
                    }
                  },
                  "required": true
                },
                "responses": {
                  "200": {
                    "description": "OK"
                  },
                  "204": {
                    "description": "No Content"
                  },
                  "410": {
                    "description": "Gone"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Web hooks"
        ],
        "operationId": "UpdateWebhook",
        "x-mint": {
          "metadata": {
            "title": "Update Webhook"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "1.3",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Application.Events.WebHooks.RequestData"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Application.Events.WebHooks.RequestData"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Application.Events.WebHooks.RequestData"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Litium.Application.Events.WebHooks.RequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "BadRequest",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
[...]
